@charset "utf-8";
/* CSS Document */

#IMAGE1{
	border-image:1;
	width:100px;
	height:100px;
	alignment-adjust:middle;
	position:absolute;
	top:800px;
	left:600px;
	z-index:5;
}

#IMAGE2{
	border-image:3;
	width:200px;
	height:200px;
	alignment-adjust:central;
		position:absolute;
	top:800px;
	left:600px;
		z-index:10;
}

#IMAGE3{
	border-image:2;
	width:400px;
	height:400px;
	position:absolute;
	top:800px;
	left:600px;
		z-index:1;
}